.list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid #ddd;
  }

  .loading {
    position: fixed; 
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em; 
    z-index: 9999;
  }
  .search-container {
    text-align: right;
    margin-right: 10px;
  }
  
  .search-input {
    margin-bottom: 10px;

  }
  .User_heading {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    text-decoration: underline;
  }
 
  .no_daya_available{
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    color: rgb(56, 67, 82);
  }
  .load-button-container{
    text-align: center;
  }
  .load-button{
    padding: 5px;
    border-radius: 5px;
    width: 15%;
    color: white;
    background-color: rgb(161, 158, 158);
  }
  .prev-button{
    padding: 5px;
    border-radius: 5px;
    width: 15%;
    margin-right: 5px;
    color: white;
    background-color: rgb(161, 158, 158);
  }
  
  .Bookmark_heading {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    text-decoration: underline;
  }
  .Bookmark_Search {
    border: 1px solid rgb(61, 61, 61);
    height: 200px;
    overflow: auto;
  }